.c-about-card {
	width: 70%;
	text-align: center;
	margin: auto;
	padding-bottom: 5%;
	@include tablet {
		width: 75%;
	}
}

.c-about-card__header {
	color: $title-color;
	margin-bottom: 7%;
	position: relative;
	@include tablet {
		margin-top: 7%;
	}
}

.c-about-card__img {
	max-width: 100%;
	width: 100%;
	height: auto;
	margin-bottom: 3%;
	@include tablet {
		margin-bottom: 6%;
	}
}

.c-about-card__content {
	text-align: center;
}

.c-about-card__content-header {
	color: $title-color;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: auto;
	& .svg_dash {
		transform: translateY(-50%);
	}

	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
	}

	margin-bottom: 3%;
}
.c-about-card__content-text {
	display: block;
	text-align: left;
	line-height: 1.5;
	padding: 1% 0;
}
