.c-blog {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	position: relative;
	//overflow: hidden;
	padding-top: 4%;
	margin-bottom: auto;
  align-items: stretch;
}

.c-blog__aside {
	position: absolute;
	left: 0;
	top: 1.5%;
	right: 75%;
	@include tablet {
		display: none;
	}
}
.pos-fixed {
  position: fixed;
  top:10%;
}


.c-blog__nav-item {
	text-align: right;
	padding: 4.5% 6.5%;
	&.is-active .c-blog__nav-link {
	font-weight: 900;
	color: rgb(0, 191, 165);
	}
	&.is-active {
		border-right: 3px solid rgb(0, 191, 165);
	}
}

.c-blog__nav-link {
	font-size: rem(16);
	font-weight: 400;
	line-height: 1.63;
	text-align: right;
	color: $text-color;
}

.c-blog__main {
	  width: 68%;
    padding: 0 1% 2% 1%;
    padding: 1% 1% 2% 1%;
    margin: 0 1.9% 0% auto;
    @include tablet {
    	width: 95%;
    	margin-bottom: 5%;
    	margin-left: 0;
    }
}

.c-blog__article {
	padding: 9% 0;
	border-bottom: 5px solid rgba(55, 62, 66, 0.07);
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
	& .h-title-article {
		margin: 0;
	}
}

.article__date {
	display: block;
 	font-size: rem(16);
	font-weight: 400;
	line-height: 2.56;
	text-align: left;
	color: rgba(0, 191, 165, 0.7);
}

.article__text {
	font-size: 16px;
 	font-weight: 400;
	line-height: 1.63;
	text-align: left;
	color: rgb(69, 90, 100);
}

pre.prettyprint, code.prettyprint {
	background-color: #f4f2f0 !important;
	border: none !important;
	position: relative;
	& li {
		background-color: #f4f2f0 !important;
   		counter-increment: item;
  		margin-bottom: 5px;
  		position: relative;
 	}
 	& li:before {
   		content: counter(item);
   		color: #5a7b8c;
  		width: 1.2em;
   		text-align: center;
  		display: block;
  		top: 0;
  		left: -1.3rem;
  		bottom: 0;
  		position: absolute;
  		z-index: 1;
 	}
	counter-reset: item;
}

pre.prettyprint {
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	white-space: pre-wrap;
	font-weight: bold;
	border-radius: 1px;
	&:before {
		content: '';
		display: block;
		background-color: #E8E6E4;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 3rem;
		z-index: 1;
	}
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #f7f3f7;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #1b181b;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #5a7b8c;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #f7f3f7;
 // list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #918b3b;
  }

  /* keyword */

  .kwd {
    color: #7b59c0;
  }

  /* comment */

  .com {
    color: #5a7b8c;
  }

  /* type name */

  .typ {
    color: #516aec;
  }

  /* literal value */

  .lit {
    color: #a65926;
  }

  /* punctuation */

  .pun {
    color: #1b181b;
  }

  /* lisp open bracket */

  .opn {
    color: #1b181b;
  }

  /* lisp close bracket */

  .clo {
    color: #1b181b;
  }

  /* markup tag name */

  .tag {
    color: #ca402b;
  }

  /* markup attribute name */

  .atn {
    color: #a65926;
  }

  /* markup attribute value */

  .atv {
    color: #159393;
  }

  /* declaration */

  .dec {
    color: #a65926;
  }

  /* variable name */

  .var {
    color: #ca402b;
  }

  /* function name */

  .fun {
    color: #516aec;
  }
}
