.c-contacts {
	background-color: rgba(252, 252, 252, 0.85);
	@include size(rem(380), rem(290));
	align-items: center;
	border-radius: rem(5);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	@include mobile {
		width: 100%;
	}
}
.c-contacts__header {
	color: $title-color;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: auto;
	& .svg_dash {
		transform: translateY(-50%);
		@include mobile {
			transform: none;
		}
	}

	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
	}

	margin-bottom: 3%;
}
.c-contacts__content {
	
	max-width: 100%;
	width: 90%;
	height: 70%;

}
.c-contacts__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
}
.c-contacts__row {
	width: 100%;
}
.c-contacts__link {
	display: flex;
	color: rgba($text-color, 0.8);
	font-weight: 500;
	font-size: rem(17);
	align-items: center;
	justify-content: flex-start;
	transition: color 0.3s;
	&:hover {
		color: rgba($brand-color, 0.8);
	}
}
