.c-developer {
	width: rem(380);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-developer__img-wrap {
	@include size(rem(141));
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 4%;
	border-radius: 50%;
}

.c-developer__img {
	max-width: 100%;
}

.c-developer__content {
	width: 100%;
	text-align: center;
}

.c-develop_blog-header {
	color: $primaryColor;
	position: relative;
}

.c-developer__header {

	font-size: rem(35);
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 0.3%;
	color: $primaryColor;
}

.c-developer__desc {
	font-size: rem(16);
	color: rgba($primaryColor, 0.8);
	line-height: 1.5;
	font-weight: 300;
}

.c-developer__desc_blog {
	color: $primaryColor;
	font-weight: 400;
	display: inline-block;
	width: 100%;
}