.c-form {
	width: 100%;
	height: 77%;
}

.c-form__inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.c-form__row {
	width: 90%;
	display: flex;
	margin-bottom: 4%;
	position: relative;
}

.c-form__item {
	margin-right: 5%;
	flex: 1;
	display: flex;
	height: rem(45);
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}

.c-form__item-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(45);
	background-color: rgb(240, 239, 233);
	border-radius: 5px 0 0 5px;
	&.error .svg_login{
		color: #e44845;
	}
}

.c-form__item-title {
	display: block;
	text-align: left;
	margin-bottom: 5%;
	color: rgba(69, 90, 100, 0.8);
}

.c-form__input {
	flex: 1;
	border-radius: 0 5px 5px 0;
	outline: none;
	border: 1px solid $primaryColor;
	color: $text-color;
	padding: rem(10) rem(8);
	overflow: hidden;
	transition: border 0.3s;
	font-size: rem(16);
	//appearance: none;
	padding-left: 1.5rem;

	&:focus {
		border: 1px solid $brand-color;
	}

	@include placeholder {
		opacity: 0.5;
		color: $text-color;
	}
}

.c-form__buttons {
	width: 66%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	& .c-form__row {
		justify-content: center;
	}
	& .c-form__item {
		margin: 0 0 3% 0;
	}
	& .c-form__item:hover {
		cursor: pointer;
	}
}

.c-form__checkbox {
	@include hidden;
	&:checked + .c-form__item-title--checkbox:before {
		background: url('../images/decor/bg/checked.svg') no-repeat center center rgba($brand-color, 0.9);
		background-size: 50% 50%;	
	}
	&.error + .c-form__item-title--checkbox:before {
		border: 0.5px solid #e44845;	
	}
}

.c-form__item-title--checkbox {
	transition: background 0.7s;
	display: flex;
	text-align: left;
	margin-bottom: 1%;
	align-items: center;
	color: rgba(69, 90, 100, 0.8);
	@include tablet {
		margin-bottom: 3%;
	}
	&:before {
		content: '';
		display: inline-block;
    	@include size(rem(21));
    	background: url('../images/decor/bg/checked.svg') no-repeat center center $primaryColor;
    	border: 0.5px solid $brand-color;
    	margin-right: rem(9);
    	border-radius: rem(3px);
    	background-size: 0 0;
	}
}

.c-form__row-title {
	display: block;
	text-align: center;
	margin-bottom: 3%;
	font-weight: 900;
	color: rgba(69, 90, 100, 0.8);	
}

.c-form__radio {
	@include hidden;
	&:checked + .c-form__item-title--radio:before {		
		background-color: $brand-color;
    	box-shadow: inset 0 0 0 rem(5) $primaryColor;
	}
	&:checked + .c-form__item-title--radio {
		color: $brand-color;
	}
}

.c-form__item-title--radio {

	transition: background-color 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: '';
    	@include size(rem(21));
    	border-radius: 50%;
    	background-color: $primaryColor;
    	margin-right: 0.6rem;
    	border: 1px solid rgb(204, 204, 204);
	}
	&.error:before {
		background-color: #e44845;
    	box-shadow: inset 0 0 0 rem(5) $primaryColor;
	}
}

/// buttons

.c-form__submit {	
	position: relative;
}


.c-form__required-info {
	position: absolute;
	bottom: 5%;
	left: 0;
	color: rgba($primaryColor, 0.8);
	font-size: rem(13);
		@include tablet {
			bottom: -4%;
		}
		@include s-mobile {
			bottom: -10%;
			line-height: 1.25rem;
		}
}

.c-form__required-marker {
	font-size: rem(15);
	font-weight: 700;
	color: $brand-color;
}


.validator-error{
    font-size: rem(16);
    font-weight: 500;
    position: absolute;
   	text-align: center;
   	z-index: 10;
    left: 30%;
    top: 100%;
    transform: translateY(7px);
    margin-top: rem(2);
    color: #ffffff;
    background: #e44845;
    vertical-align: middle;
    box-shadow: -2px 4px 2px -2px rgba(0, 0, 0, 0.1);
    padding: rem(10) rem(14);
    border-radius: 5px;
    pointer-events: none;
}

.validator-error:before {
    content: '';
    width: 0;
    height: 0;
    top: -8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #e44845;
}

form input[type='text'].error, form input[type='email'].error, form input[type='password'].error, form textarea.error {
    border: 1px solid #e44845;
}

.order_spinner {

	@include size(rem(50));
	border-radius: 50%;
	border: rem(5) solid #f3f1ed;
	border-top: 5px solid $brand-color;
	will-change: transform;
	margin: auto;
}

.animate {
	
	animation-name: spinorder;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: center;
}

.c-form__buts-action {
	display: flex;
	background-color: rgba($brand-color, 0.85);
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 0 0 rem(5) rem(5);
}

.c-form__nav-item {
	border-left: 1px solid rgba($primaryColor, 0.85);
	background-color: rgba($brand-color, 0.85);
	transition:  background-color 0.3s;
	flex: 1;

	&:hover {		
		background-color: rgba($second-color, 0.85);
		cursor: pointer;
	}
	&:first-child {
		border-left: none;
	}
}

.c-form__nav-link {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: 500;
	@include size(100%);
	padding: 1% 7%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: rem(16);
	border: 0px solid transparent;
	color: $primaryColor;
	&:first-child {	
		border-left: none;
	}
	outline: none;
	background-color: rgba($brand-color, 0.85);
	&:hover {		
		background-color: rgba($second-color, 0.85);
		cursor: pointer;
	}
}
