.c-feeds {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.c-feeds__header {
	@include size(100%, 14rem);
	display: flex;
	justify-content: center;
	align-items: center;
	@include mobile {
		height: 7rem;
		margin: 6% 0 2% 0;
	}	
}

.c-feeds__header-title {
	width: 44%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: auto;
	position: relative;
	@include tablet {
		width: 67%;
	}
	@include mobile {
		width: 55%;
		align-items: center;
	}
	@include s-mobile {
		width: 65%;
	}
	& .h-title-section {
		 text-align: center;
		 margin: 0 rem(22);
	}
	& .svg_dash {
		width: 2.5rem;
		transform: translateY(-100%);
		@include tablet {
			width: 1.5rem;
		}
	}
	&::first-letter {
		text-transform: uppercase;
	}
}

.c-feeds__content {
	display: flex;
	height: rem(270);
	width: 70%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: baseline;
	@include tablet {
		width: 95%;
	}
	@include mobile {
		flex-direction: column;
		height: initial;
		justify-content: flex-start;
	}
}
.c-feeds__card {
	width: 45%;
	padding: 1%;
	@include mobile {
		width: 100%;
		margin-bottom: 3%;
	}
}
.c-feeds__card-icon {
	color: rgba(55, 62, 66, 0.2);
	font-size: 36px;
	margin-bottom: 2%;
	@include mobile {
		text-align: center;
	}
}
.c-feeds-card__text {
	margin-bottom: 7%;
	display: block;
	line-height: 1.63;
}
.c-feeds-card__about {
	display: flex;
	align-items: center;
}
.c-feeds-card__img-wrap {
	@include size(rem(78));
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	margin: 0 5% 0;
	border-radius: 50%;
	@include mobile {
		margin: 0 5% 0 0;
	}
}
.c-feeds-card__img {
	max-width: 100%;

}
.c-feeds-card__about-text {
	color: rgb(32, 181, 161);
	line-height: 1.5;
	overflow: hidden;

}
.c-feeds-card__about-name {
	font-weight: 900;
}
//* c-form

.c-feeds-form-bg {

	@include size(rem(380), rem(437));
	margin: auto auto 0 auto;
	position: relative;
	border-radius: rem(6);
	overflow: hidden;
}

.c-feeds-blured {
	position: absolute;
    top: 0;
    left: 0;
    background: url('../images/decor/bg/feeds_bg.png');
    background-position: center -755px;
    background-repeat: no-repeat;
    filter: blur(14px);
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: 2000px;
}

.c-feeds-form {
	@include size(100%);
	position: relative;
	z-index: 20;
	display: flex;
	flex-direction: column;
	border-radius: rem(6);
	& .c-form__item {
    	height: initial;
    }
	& .c-form__input {
		padding-left: rem(20);
		font-size: rem(16);
		border-radius: 5px;
	}
}

.c-feeds-form__header {
	color: $title-color;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: auto;
	position: relative;
	& .svg_dash {
		transform: translateY(-50%);
	}

	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
	}
}
.c-form__textarea {
	resize: none;
	font-size: rem(16);
	width: 100%;
	height: rem(140);
	border-radius: 5px;
	outline: none;
	border: 1px solid $primaryColor;
	color: $text-color;
	padding: rem(10) rem(8);
	overflow: hidden;
	transition: border 0.3s;
	padding-left: rem(20);

	&:focus {
		border: 1px solid $brand-color;
	}

	@include placeholder {
		opacity: 0.5;
		color: $text-color;
	}
}
.save {
	min-width: rem(50);
	min-height: 2.5rem;
	font-size: rem(16);
	padding: 0 rem(28);
	display: inline-block;
	vertical-align: middle;
	background-color: $brand-color;
	border: 1px solid transparent;
	transition:  background-color 0.2s;
	overflow: hidden;
	border-radius: rem(5);
	outline: none;
	&:hover {
		background-color: $primaryColor;
		cursor: pointer;
	}
	&:hover .save-text {
		color: $brand-color;
	}
}
.save-text {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 2.5rem;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	color: $primaryColor;
	transition: color 0.2s;
	@include mobile {
		line-height: 2rem;
	}
}
.overlay {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba($primaryColor, 0.6);
	box-shadow: inset 0px 0px 100px 8px rgba($primaryColor, 0.6);
}
.popup {
	@include size(rem(280),rem(115));
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: $primaryColor;
	border-radius: 3px;
	color: $text-color;
	font-size: rem(16);
	font-weight: 500;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 1.8% 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.popup-text {
	font-size: rem(16);
	font-weight: 400;
	color: rgba($text-color, 0.8);
}
.c-feed__mes {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 70%;
	width: 100%;
	text-align: center;
	color: rgba($brand-color, 0.8);
	padding: 5% 2%;
	transform: translateX(-50%);
}
.c-feeds__mes {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 100%;
	width: 100%;
	text-align: center;
	color: rgba($primaryColor, 0.8);
	padding: 2%;
	transform: translateX(-50%);
}