.c-nav__list {
	display: flex;
	width: 80%;
	align-items: center;
	@include s-mobile {
		width: 92%;
	}
}

.c-nav__item {
	flex-grow: 1;
}

.c-nav__link {
	display: inline-block;
	font-size: (rem(17));
	line-height: 1.5;
	font-weight: 500;
	white-space: nowrap;
	color: $primaryColor;
	transition: color 0.4s;
	&::first-letter {
		text-transform: uppercase;
	}
	&:hover {
		color: $brand-color;
	}
}