.c-skills-card {
	width: 88%;
	padding-left: 3%;
	margin: auto;
}

.c-skills-card__header {
	color: $title-color;
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: auto;
	& .svg_dash {
		transform: translateY(-50%);
	}

	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
	}

	margin-bottom: 3%;
}

.c-skills-card__desc {
	margin-bottom: 13%;
}

.c-skills-card__container {

}
.c-skills-card__group {
	width: 100%;
	overflow: hidden;
}
.c-skills-card__group-title {
	font-size: rem(28);
	margin-bottom: 2%;
	font-weight: 500;
	width: 100%;
	line-height: 1.14;
	&::first-letter {
		text-transform: uppercase;
	}
}
.c-skills-card__group-content {
	width: 100%;
	display: flex;
}

.c-skills-card__skill-item {
	position: relative;
}

.c-skills-card__skill-title {

	@include absolute-center;
	width: 50%;
	font-size: rem(15);
	font-weight: 500;
	color: $brand-color;
	line-height: 1.12;
	text-align: center;
}