.c-skills-card {
	padding: 0 0 5% 5%;
	@include tablet {
		width: 95%;
		margin: 0 auto;
		padding-top: 5%;
	}
	@include mobile {
		padding: 0 0 5% 0;
	}
}

.c-skills-card__header {
	color: $title-color;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: auto;
	@include tablet {
		width: 58%;
	}
	@include mobile {
		margin-top: 7%;
	}
	& .svg_dash {
		transform: translateY(-50%);
		@include mobile {
			transform: none;
		}
	}

	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
	}

	margin-bottom: 3%;
}

.c-skills-card__desc {
	margin-bottom: 7%;
	width: 90%;
	display: block;
	@include tablet {
		margin: 0 auto 7%;
		width: 77%;
		line-height: 1.714;
	}
	@include mobile {
		width: 100%;
	}
}

.c-skills-card__container {

}
.c-skills-card__group {
	width: 100%;
	overflow: hidden;
	@include tablet {
		text-align: center;
		margin-bottom: 3%;
	}
}

.c-skills-card__group-title {
	font-size: rem(28);
	margin-bottom: 2%;
	font-weight: 500;
	width: 100%;
	line-height: 1.14;
	&::first-letter {
		text-transform: uppercase;
	}
	@include tablet {
		font-size: rem(21);
	}
}
.c-skills-card__group-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@include tablet {
		justify-content: center;
	}
}

.c-skills-card__skill-item {
	position: relative;
}

.c-skills-card__skill-title {

	@include absolute-center;
	width: 50%;
	font-size: rem(15);
	font-weight: 500;
	color: $brand-color;
	line-height: 1.12;
	text-align: center;
}
.svg_skill-diagr {
	@include tablet {
		width: 140px;
		height: 140px;
	}
}