.c-slider {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@include size(100%);
}

.c-slider__desc-fr {
	background-color: #F0EFE9;
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include tablet {
		width: 100%;
		height: 27%;
		order: 2;
	}
	@include mobile {
		height: 22%;
	}
}

.c-slider__main-fr {
	background-color: #EFEBE0;
	width: 50%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	@include tablet {
		width: 100%;
		order: 1;
		height: 45%;
	}
}

.c-slider__control-fr {
	width: 50%;
	height: 30%;
	display: flex;
	@include tablet {
		width: 100%;
		order: 3;
		height: 22%;
	}
	@include mobile {
		height: 27%;
	}
}

.c-slider__desc-header {
	color: $title-color;
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 5%;
	& .svg_dash {
		transform: translateY(-50%);
		@include mobile {
			transform: none;
		}
	}
	& .h-title-article {
		 line-height: 1.17;
		 text-align: center;
		 font-weight: 400;
	}
	@include tablet {
		width: 68%;
		margin-bottom: 2%;
	}
	@include mobile {
		align-items: center;
	}
}

.c-slider__desc-text {
	@include size(80%, rem(60))
	text-transform: uppercase;
	color: rgb(32, 181, 161);
	font-weight: 500;
	border-top: 2px solid rgba(0, 150, 136, 0.3);
	border-bottom: 2px solid rgba(0, 150, 136, 0.3);
	text-align: center;
	line-height: rem(60);
	margin-bottom: 5%;
	@include tablet {
		width: 50%;
		margin-bottom: 2%;
	}
	@include mobile {
		margin-bottom: 2%;
		width: 100%;
		min-height: 2rem;
		line-height: 2rem;
		vertical-align: middle;
		height: initial;
	}
}

.c-slider__desc-link {
	background-color: $brand-color;
	color: $primaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
	border: 1px solid transparent;
	&:hover {
		background-color: #009688;
		.c-button__text {
			color: $primaryColor;
		}
	}
}

.main-frame {
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.fade-enter-active {
 transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-leave-active {
  transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition-delay: 0.1s;
}
.fade-enter, 
.fade-leave-to {
	opacity: 0;
}
.c-slider__main-img {
	max-width: 90%;
	max-height: 90%;
	height: 80%;
	-webkit-box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	-moz-box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	will-change: opacity;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.c-slider__control-prev {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		@include absolute-stretch;
		background-color: rgba(182, 180, 174, 0.7);
		z-index: 0;
	}
}

.prev-move, .next-move {
	display: flex;
	@include size(100%);
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	top: -100%;
	will-change: transform;
	transform: translateY(100%);
	&.is-reversing {
		transform: translateY(-100%);
	}
	&.is-set {
  		transform: none;
  		transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
	}
}
.c-slider__control-next {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		@include absolute-stretch;
		  background-color: rgba(136, 131, 114, 0.5);
		 z-index: 0;
	}
}
.c-slider__control-img {
	max-width: 90%;
	max-height: 90%;
	order: 2;
	will-change: order;
	height: rem(200);
	margin: 0.84rem 0;
	width: auto;
	min-height: 88%; //for Firefox
	-webkit-box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	-moz-box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	box-shadow: 0px 18px 22px -19px rgba(0,0,0,0.87);
	&.is-ref {
		order: 1;
	}
}
.c-slider__control__link {
	display: block;
	@include size(rem(45), rem(28));
	@include absolute-center;
	z-index: 1;
	transition: 0.3s;
	&:hover .svg_slider-arrow {
		opacity: 1;
		transform: scale(1.12);
	}
}
