
.svg_hero {
	opacity: 0.06;
	@include size(100%, 37%);
	@include absolute-center;
	fill: $primaryColor;
	z-index: 1;
}

.svg_hamburger {
	@include size(rem(40), rem(30));
	color: $primaryColor;
	@include tablet {
		@include size(rem(35), rem(27));
	}
}

.svg_hero-blog {
	opacity: 0.06;
	@include size(150%, 300%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	fill: $primaryColor;
	z-index: 1;
}

.svg_next {
	opacity: 0.7;
	@include size(100%);
	fill: $primaryColor;
	transition: opacity 0.3s;
}
.svg_prev {
	opacity: 0.7;
	@include size(100%);
	fill: $primaryColor;
	transition: opacity 0.3s;
	transform: scale(1, -1);
}

.svg_dash {
	@include size(1.6rem, 0.8rem);
	opacity: 0.25;
	fill: currentColor;
	stroke: currentColor;
	display: inline-block;
	vertical-align: middle;
	transition: opacity 0.3s;
	@include mobile {
		width: 0.9rem;
	}
}

.svg-main-top_two-color {
	width: 100.2%;
	height: 21rem;
	fill: #EFEBE0;
	stroke: #EFEBE0;
		@include tablet {
			fill: #F0EFE9;
			stroke: #F0EFE9;
	}
}

.svg_main-top_one-color {
	width: 100.2%;
	height: 21rem;
	color: rgb(250, 248, 240);
}

.svg-main-icon {
	opacity: 0.07;
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	transform: translate(-50%, -50%);
	z-index: 0;
}
.svg-main-icon_about {
	width: 80%;
	transform: translate(-50%, -30%);
	@include tablet {
		width: 70%;
		transform: translate(-50%, -40%);
	}
	@include tablet {
		width: 50%;
	}
}

.svg-main-icon_works {
	width: 100%;
	height: rem(190);
	transform: translate(-50%, -28%);
	@include tablet {
		height: 8.125rem;
	}
}

.svg_skype, .svg_mail, .svg_phone, .svg_map-marker {
	color: $brand-color;
	flex-basis: 20%;
	transition: opacity 0.3s;
	&:hover {
		opacity: 0.7;
	}
}

.svg_skype {
	@include size(rem(24), rem(24));
}
.svg_mail {
	@include size(1.5rem, 1.2rem);
}
.svg_phone {
	@include size(rem(20), rem(19));

}
.svg_map-marker {
	@include size(rem(19), rem(24));
}
.svg_login {
	@include size(rem(15), rem(17));
	 color: rgb(196, 203, 205);
}
.svg_link {
	@include size(rem(20), rem(19));
	margin-right: rem(8);
}
.svg_slider-arrow {
	@include size(rem(45), rem(28));
	box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.16);
	color: $primaryColor;
	opacity: 0.7;
	transition: opacity 0.3s;
}