
.svg_hero {
	opacity: 0.06;
	@include size(100%, 37%);
	@include absolute-center;
	fill: $primaryColor;
	z-index: 1;
}

.svg_next {
	opacity: 0.7;
	@include size(100%);
	fill: $primaryColor;
	transition: opacity 0.3s;
}

.svg_dash {
	@include size(1.6rem, 0.8rem);
	opacity: 0.25;
	fill: currentColor;
	stroke: currentColor;
	display: inline-block;
	vertical-align: middle;
}

.svg-main-top_two-color {
	width: 100%;
	height: 20rem;
}

.svg_main-top_one-color {
	width: 100%;
	height: 20rem;
	color: rgb(250, 248, 240);
}

.svg-main-icon {
	opacity: 0.07;
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	transform: translate(-50%, -25%);
	z-index: 0;
}
.svg-main-icon_about {
	width: 80%;
}

.svg-main-icon_works {
	width: 134%;
	height: rem(194);
	@include tablet {
		height: 8.125rem;
	}
}

.svg_skype, .svg_mail, .svg_phone, .svg_map-marker {
	color: $brand-color;
	flex-basis: 20%;
	transition: opacity 0.3s;
	&:hover {
		opacity: 0.7;
	}
}

.svg_skype {
	@include size(rem(24), rem(24));
}
.svg_mail {
	@include size(2.5rem, 1.75rem);
}
.svg_phone {
	@include size(rem(20), rem(19));

}
.svg_map-marker {
	@include size(rem(19), rem(24));
}
.svg_login {
	@include size(rem(15), rem(17));
	 color: rgb(196, 203, 205);
}
.svg_link {
	@include size(rem(20), rem(19));
	margin-right: rem(8);
}
.svg_slider-arrow {
	@include size(rem(45), rem(28));
	box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.16);
	color: $primaryColor;
	opacity: 0.7;
	transition: opacity 0.3s;
}