
.svg_header {
	opacity: 0.06;
	@include size(100%, 37%);
	@include absolute-center;
	fill: $primaryColor;
	z-index: 1;
}

.svg_next {
	opacity: 0.7;
	@include size(100%);
	fill: $primaryColor;
}

.svg_aboutLeft, .svg_aboutRight {
	width: 50%;
	height: 120%;
	fill: $light-beige;
	stroke: $light-beige;
}

.svg_dash {
	@include size(1.6rem, 0.8rem);
	opacity: 0.25;
	fill: currentColor;
	stroke: currentColor;
	display: inline-block;
	vertical-align: middle;
}

.svg_header-bottom {
	width: 100%;
	fill: $beige-one;
	stroke: $beige-one;
	height: 1000px;
	flex: 1;
}

.svg_about {
	opacity: 0.07;
	@include size(100%, 13%);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 64%);
	z-index: 1;
}