include ../base/_mixins.pug

block variables
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description" content="Разработка и сопровождение сайтов и веб приложений")
    meta(name="keywords" content="")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1.0" )
    style .svg-use,.svg_next{max-width: 2rem;}

    title #{title}

  body
    //[if lt IE 8]> <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http:// browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p> <![endif]
    .l-wrapper
      block extend