.c-blog {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	padding-top: 4%;
	margin-bottom: 4%;
}

.c-blog__aside {
	position: absolute;
	left: 0;
	top: 4.5%;
	right: 75%;
	@include tablet {
		display: none;
	}
}

.c-blog__nav-item {
	text-align: right;
	padding: 4.5% 6.5%;
	&.is-active .c-blog__nav-link {
	font-weight: 900;
	color: rgb(0, 191, 165);
	}
	&.is-active {
		border-right: 3px solid rgb(0, 191, 165);
	}
}

.c-blog__nav-link {
	font-size: rem(16);
	font-weight: 400;
	line-height: 1.63;
	text-align: right;
	color: $text-color;
}

.c-blog__main {
	width: 67%;
	overflow-y: scroll;
    padding: 1% 1% 4% 1%;
    margin: 0 1.9% 9% auto;
    @include tablet {
    	width: 95%;
    	margin-bottom: 5%;
    	margin-left: 0;
    }
}

.c-blog__article {
	padding: 9% 0;
	border-bottom: 5px solid rgba(55, 62, 66, 0.07);
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
	& .h-title-article {
		margin: 0;
	}
}

.article__date {
	display: block;
 	font-size: rem(16);
	font-weight: 400;
	line-height: 2.56;
	text-align: left;
	color: rgba(0, 191, 165, 0.7);
}

.article__text {
	font-size: 16px;
 	font-weight: 400;
	line-height: 1.63;
	text-align: left;
	color: rgb(69, 90, 100);
}

/*pre {
    background: #f4f2f0;
    border: none;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}*/

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

//pre .str, code .str { color: #65B042; } /* string  - green */
//pre .kwd, code .kwd { color: #7DA820; } /* keyword - dark pink */
//pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
//pre .typ, code .typ { color: #89bdff; } /* type - light blue */
//pre .lit, code .lit { color: #3387CC; } /* literal - blue */
//pre .pun, code .pun { color: #660; } /* punctuation - white */
//pre .pln, code .pln { color: #323231; } /* plaintext - white */
//pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
//pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
//pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
//pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #f4f2f0 !important;
	border: none !important;
	position: relative;
	& li {
		background-color: #f4f2f0 !important;
   		counter-increment: item;
  		margin-bottom: 5px;
  		position: relative;
 	}
 	& li:before {
   		//margin-right: 10px;
   		content: counter(item);
   		color: #5a7b8c;
  		width: 1.2em;
   		text-align: center;
  		display: block;
  		top: 0;
  		left: -1.3rem;
  		bottom: 0;
  		position: absolute;
  		z-index: 1;
 	}
	counter-reset: item;
}

pre.prettyprint {
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	white-space: pre-wrap;
	font-weight: bold;
	border-radius: 1px;
	&:before {
		content: '';
		display: block;
		background-color: #E8E6E4;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 3rem;
		z-index: 1;
	}
}

/* Specify class=linenums on a pre to get line numbering */
//ol.linenums { margin-top: 0; margin-bottom: 0; color: #888;} /* IE indents via margin-left */
//li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
//li.L1,li.L3,li.L5,li.L7,li.L9 { }

/*@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}*/
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #f7f3f7;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #1b181b;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #5a7b8c;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #f7f3f7;
 // list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #918b3b;
  }

  /* keyword */

  .kwd {
    color: #7b59c0;
  }

  /* comment */

  .com {
    color: #5a7b8c;
  }

  /* type name */

  .typ {
    color: #516aec;
  }

  /* literal value */

  .lit {
    color: #a65926;
  }

  /* punctuation */

  .pun {
    color: #1b181b;
  }

  /* lisp open bracket */

  .opn {
    color: #1b181b;
  }

  /* lisp close bracket */

  .clo {
    color: #1b181b;
  }

  /* markup tag name */

  .tag {
    color: #ca402b;
  }

  /* markup attribute name */

  .atn {
    color: #a65926;
  }

  /* markup attribute value */

  .atv {
    color: #159393;
  }

  /* declaration */

  .dec {
    color: #a65926;
  }

  /* variable name */

  .var {
    color: #ca402b;
  }

  /* function name */

  .fun {
    color: #516aec;
  }
}
