
.l-section {
	
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.l-section_header {

	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-image: url('../../images/decor/bg/montains.jpg');
	background-attachment: fixed;
		
		&:after {

			content: '';
			display: block;
			@include absolute-stretch;
			background-color: rgba(1, 102, 114, 0.3);
		}

	@include custom {

		min-height: 650px;
	}
	@include mobile {

		background-attachment: scroll;
	}
}

.l-section_header-blog {
	
	&:before {

		display: block;
		content: '';
		width: 100%;
		height: 3%;
		background-color: rgb(223, 87, 102);
	}

	&:after {

			content: '';
			display: block;
			@include absolute-stretch;
			top: 3%;
			background-color: rgba(1, 102, 114, 0.3);
		}

}

.l-section_content {

	


}

.l-section_footer {


}