
.c-copy {
	
	display: flex;
	align-items: center;
	@include mobile {

		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}

.c-copy_item {

	display: inline-block;
	color: $primaryColor;
	font-weight: 300;
	font-size: rem(16);
	line-height: 6.28;
	
	&:after {

		display: inline-block;
		content: '|';
		margin: 0 0.3rem;
		font-size: rem(16);
		font-weight: 300;
	}
	&:last-child:after {

		display: none;
	}

	@include mobile {

		line-height: 1.5;

		&:first-child {

			width: 100%;
		}
		&:first-child:after {

			display: none;
		}
	}


}