extends ../main.layout.pug

block variables
	- var pageM = 'hero'
	- var title = 'welcome WEB Разработка'
	-
		var copy = [
			'&copy;&nbsp;Yuliya Volkova',
			'создано в &laquo;&nbsp;<a href="https://loftschool.com/" target="_blank">LoftSchool</a>&nbsp;&raquo;',
			'2018' ]
block extend
	#parallax.l-parallax__container
		- for (var i = 0; i < 10; i++)
			.parallax-layer(data-speed=`${(i+1)*0.01}`)
				img.parallax-layer__img(src=require(`../../assets/images/decor/bg/parallax/layer_${i+1}.png`), alt="", style="display:none;")
	.l-login__button#targetLogin
		button.c-button#butLogin
			span.c-button__text
				| Авторизоваться
	.l-welcome
		.l-flip-container
			.l-face-container
				include ../components/c-welcome.pug
			.l-backface-container
				include ../components/c-login-form.pug
	footer.l-copy
		ul.c-copy
			each val in copy
				li.c-copy_item!= val