// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Regular font family
/// @type List

$primaryColor: rgb(255, 255, 255);

/// Copy text color
/// @type Color
$text-color: rgb(69, 90, 100) !default;

///
$dark-text-color: #373E42;

/// Main brand color
/// @type Color
//$brand-color: rgb(32,181,161) !default;
$brand-color: rgb(0, 191, 165) !default;

/// Secondary color
$second-color: rgb(0, 150, 136);

$light-white: #FEFEFE;
$light-beige: #F0EFE9;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

///*** colors ****
///
//"#0077B5"
//rgb(1, 102, 114)

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$desktop: 1300px;
$laptop:  992px;
$tablet: 768px;
$mobile: 480px;
$small-mobile: 375px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
