extends ../assets/pug/layout/main.layout.pug

block variables
	- var title = 'Блог о web разработке'
	- var pageClMod = 'blog'
	- var socialId = ['vk', 'github', 'in']
	- var bgHeroSvgId = 'blog_header'
	-
		var navList = [{pageUrl: './my_works.html', title: 'мои работы'},
			{pageUrl: '#', title: 'блог'},
			{pageUrl: './about.html', title: 'обо мне'},
			{pageUrl: '../index.html#login', title: 'авторизация'}]

block extend
	section.l-section.l-hero.l-hero_blog
		+social('l-hero', socialId, '../assets/images/sprites/sprite.svg')
		+icon(bgHeroSvgId, 'svg_hero', '../assets/images/sprites/sprite.svg')
		.l-hero__develop.l-hero__develop_blog
			.c-developer
				.c-developer__img-wrap(style="background-image: url('../assets/images/content/photo.jpg'); background-repeat:no-repeat;")
					img.c-developer__img.visually-hidden(alt="", src=require('../assets/images/content/photo.jpg'))
				.c-developer__content
					.c-develop_blog-header
						+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
						h1.h-title-section.h-title-section_color блог
						+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
					h2.c-developer__desc.c-developer__desc_blog Статьи, которые я написал
	section.l-section.l-main
		.l-main__top
			+icon('bg', 'svg_main-top', '../assets/images/sprites/sprite.svg')
		.l-main__wrapper
			.l-main__column-one
			.l-main__column-two
				.l-main__column-two-bg
	section.l-section.l-last
		.l-map-container
		.l-layout-first
			.l-contacts
				.c-contacts
			include ../assets/pug/components/footer.pug
	+hamburger(navList)