extends ../assets/pug/layout/main.layout.pug

block variables
	- var title = 'Мои работы'
	- var bgTitleSvgId = 'portfolio_header'
	-
		var navList = [{pageUrl: '#', title: 'мои работы'},
			{pageUrl: './blog.html', title: 'блог'},
			{pageUrl: './about.html', title: 'обо мне'},
			{pageUrl: '#login', title: 'авторизация'}]
	- var footerText = 'Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.'
	-
		var copy = [
			'&copy;&nbsp;Yuliya Volkova',
			'создано в &laquo;&nbsp;<a href="https://loftschool.com/" target="_blank">LoftSchool</a>&nbsp;&raquo;',
			'2018' ]
	- var social = ['vk', 'github', 'in']

block extend
	section.l-section.l-hero
		include ../assets/pug/components/section-hero.pug
	section.l-section.l-main
		.l-main__top
			+icon('bg', 'svg_main-top', '../assets/images/sprites/sprite.svg')
		.l-main__wrapper
			.l-main__column-one
			.l-main__column-two
				.l-main__column-two-bg
	section.l-section.l-last
		.l-map-container
		footer.l-footer
			.l-container
				.l-footer__left
					+navMenu(navlist)
					.c-footer__text
						span= footerText
				.l-footer__right
					+social('l-footer', social, '../assets/images/sprites/sprite.svg')
					ul.c-copy.c-copy_footer
						each val in copy
							li.c-copy_item!= val
	+hamburger(navlist)