.l-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
	position: relative;
}

.l-content_blog {
	
}

.l-content__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	bottom: 0;
	transform: translateY(37%);
	z-index: 1;
	@include custom {
		transform: translateY(36%);
	}
	@include desktop {
		transform: translateY(38%);
	}
	@include laptop {
		transform: translateY(39%);
	}
	@include tablet {
		transform: translateY(40%);
	}
	@include mobile {
		transform: translateY(41%);
	}
		@include custom_1800 {
		transform: translateY(37%);
	}
}

.l-content__column-one, .l-content__column-two {
	flex: 1;
	@include size(100%);
	background-image: url('../images/decor/bg/about_bg_left.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.l-content__column-two {
	background-image: url('../images/decor/bg/about_bg_right.svg');
}

.l-content__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: baseline;
	transform: translateY(14%);
	flex-wrap:wrap;
}

.l-content__inner-column-one, .l-content__inner-column-two {
	width: 50%;
	flex: 1;
	display: flex;
}
