
.l-copy {

	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	width: 100%;

	@include tablet {

	//	bottom: -100%;
	//	transform: translateY(-200%);
		//margin-top: auto;
	}

	@include mobile {

		bottom: -50%;
		transform: translateY(-100%);
		//margin: auto 0;
	}

	@include s-mobile {

		transform: translateY(-200%);
	}
}