
.l-hamburger {
	position: absolute;
	top: 10%;
	right: 10%;
	z-index: 10;
	@include tablet {
		right: 5%;
		top: 5%;
	}
	@include mobile {
		right: 4%;
		top: 4%;
	}
	@include custom_1800 {
		left: 50%;
		transform: translateX(800px);
	}
	&_works {
		@include tablet {
			top: 2.5%;
		}
	}
}

