
.l-hero {
	height: 100vh;
		&:before {
			content: '';
			display: block;
			@include absolute-stretch;
			background-color: rgba(1, 102, 114, 0.3);
			z-index: 0;
		}
		
	@include custom {
		min-height: 650px;
	}

	@include mobile {
		background-attachment: scroll;
	}
}

.l-hero_blog {
	background-position: center top;
	& .l-main__top {
		position: relative;
		top: 70%;
	}
	& .parallax__content {
		top: 72%;
	}
	& .l-hero__develop {
		top: 0;
		transform: translate(-50%, 50%);
		@include custom_1800 {
			transform: translate(-50%, 150%);
		}
	}
}

.l-hero__develop {
	@include absolute-center;
	z-index: 15;
}