
.l-hero {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('../images/decor/bg/montains.jpg');
	background-attachment: fixed;
		
		&:before {
			content: '';
			display: block;
			@include absolute-stretch;
			background-color: rgba(1, 102, 114, 0.3);
			z-index: 0;
		}

	@include custom {
		min-height: 650px;
	}

	@include mobile {
		background-attachment: scroll;
	}
}

.l-hero_blog {
	background-position: center top;

	&:before {
		display: block;
		content: '';
		width: 100%;
		height: 3%;
		background-color: rgb(223, 87, 102);
	}

	&:after {
			content: '';
			display: block;
			@include absolute-stretch;
			top: 3%;
			background-color: rgba(1, 102, 114, 0.3);
			z-index: 0;
		}
}

.l-hero__develop {
	@include absolute-center;
	z-index: 2;
}

.l-hero__develop_blog {
	bottom: 0;
	transform: translate(-50%, -79%);
}