
.l-header__social {
	position: absolute;
	z-index: 1;
	left: 10%;
	top: 10%;
	display: flex;
	width: 12%;
	justify-content: space-between;
}

.l-header__social-item {

	height: rem(22);
}

.l-header__social-link {

	display: inline-block;
	height: 100%;
	color: $primaryColor;

	&:hover .svg-use {

		opacity: 1;
	}
}

.svg-use {

	@include size(rem(28), rem(22));
	transition: opacity 0.4s;
	opacity: 0.5;
}