
.l-login__button {
	
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 1;
	@include custom {
		right: 10%;
	}
	@include custom_1800 {
		top: 30%;
		right: 50%;
		transform: translate(50%, -100%);
	}

	@include tablet {
		top: 4.5%;
	}

	@include mobile {
		right: 50%;
		transform: translateX(50%);
	}
}