.l-main {
	width: 100%;
	background-color: #F0EFE9;
}

.l-main_blog {
	
}

.l-main__top {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	transform: translateY(-50%);
}

.l-main__top_blog {
	top: 50%;
	transform: translateY(-60%);
}

.l-main__wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: baseline;
	@include custom {
			width: rem(1800);
			margin: auto;
	}
	&.l-main__wrapper_display-bl {
		display: block;
	}
}

.l-main__header {
	@include size(100%, rem(195));
	background-color: rgb(250, 248, 240);
	display: flex;
	justify-content: center;
	align-items: center;	
}

.l-main__header-title {
	width: 40%;
	position: relative;
	color: $title-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .h-title-section {
		 text-align: center;
	}
	&::first-letter {
		text-transform: uppercase;
	}
	@include tablet {
		width: 43%;
	}
}

.l-main__slider {
	width: 100%;
	height: 750px;
	display: block;
	@include tablet {
		height: 1030px;
	}
}

.l-main__column-one, .l-main__column-two {
	flex: 1;
	width: 50%;
	min-height: 100%;
	position: relative;
}

.l-main__column-one {
	background-color: #F0EFE9;
}

.l-main__column-two {
	background-color: #EFEBE0;
}