.l-parallax__container {

	@include absolute-stretch;
	z-index: 0;
	background-image: url(../images/decor/bg/montains.jpg);
	background-size: 145% 145%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: right top;
	will-change: background-position;
	transition: background-position 0.4s;
}