
.l-section {
	width: 100%;
	min-height: 628px;
	position: relative;
		@include custom {
			min-height: 650px;
			width: rem(1800);
			margin: auto;
		}
		@include tablet {
			min-height: 100vh;
		}
}

.l-last {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.l-layout-first {
	@include absolute-stretch;
	display: flex;
	flex-direction: column;
}

.l-feeds {
	height: 1280px;
	background-image: url('../images/decor/bg/feeds_bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}