extends ./assets/pug/layout/main.layout.pug

block variables
	- var pageM = 'hero'
	- var title = 'welcome WEB Разработка'
	-
		var copy = [
			'&copy;&nbsp;Yuliya Volkova',
			'создано в &laquo;&nbsp;<a href="https://loftschool.com/" target="_blank">LoftSchool</a>&nbsp;&raquo;',
			'2018' ]

block extend
	.l-parallax__container
	.l-login__button
		button.c-button#targetLogin
			span.c-button__text Авторизоваться
	.l-welcome
		.l-flip-container
			.l-face-container
			.l-backface-container
			.visually-hidden#faceBl(type='template/text')
				include ./assets/pug/components/c-welcome.pug
			.visually-hidden#backFaceBl(type='template/text')
				include ./assets/pug/components/c-login-form.pug
		footer.l-copy
			ul.c-copy
				each val in copy
					li.c-copy_item!= val