.l-scroll-parallax-container {
	background: #9ABDBE;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	perspective: 100px;
}

.l-scroll-parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


}

.l-scroll-parallax__img {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}



/*.parallax__content {
  height: 2000px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $bottomColor;
  transform: translateZ(0);
}*/

$layers: 7;
@for $i from $layers through 1 {
	.l-scroll-parallax__layer:nth-child(#{$i}) {
		$currentLayer: $layers - $i;
		$perspective: -$currentLayer * 50px;
		$scale: $currentLayer * .5 + 1;

		transform: translateZ($perspective) scale($scale);
	}
}

@for $layersNum from $layers through 1 {
  .scroll-parallax__layer:nth-child(#{$layersNum}) {
    $currentLayer: $layers - $layersNum;
    $perspective: -$currentLayer * 50px;
    $scale: $currentLayer * .5 + 1;

    transform: translateZ($perspective) scale($scale);
  }
}