//----------------------------
//------------to close----
//----------------------------
@keyframes rotate_leftClose {
	from {	transform: none; }
	to { transform: rotate(45deg) translate(2px, 1px);}
}

@keyframes rotate_rightClose {
	from { transform: none; }
	to { transform: rotate(-45deg) translate(2px, 1px);}
}

@keyframes scale_centerClose {
	from { transform: none; }
	to { transform: scaleX(0.0002); }
}
//----------------------------
//------------to hamburger----
//----------------------------
@keyframes rotate_leftHamburger {
	from {	transform: rotate(45deg) translate(2px, 1px); }
	to { transform: none; }
}

@keyframes rotate_rightHamburger {
	from { transform: rotate(-45deg) translate(2px, 1px); }
	to { transform: none; }
}

@keyframes scale_centerHamburger {
	from { transform: scaleX(0.0002); }
	to { transform: scaleX(1.1); }
}
//----------------------------
//-----------blog tablet nav----
//----------------------------
@keyframes blog_tabletNavOpen {
	from { transform: translateX(-72%); }
	to { transform: translateX(0%); }
}
@keyframes blog_tabletNavClose {
	from { transform: translateX(0%); }
	to { transform: translateX(-100.5%); }
}
//----------------------------
//-----------hamburger nav----
//----------------------------
@keyframes open_hamburger_left {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); }
}
@keyframes open_hamburger_right {
	from { transform: translateX(100%); }
	to { transform: translateX(0%); }
}
@keyframes close_hamburger_left {
	from { transform: translateX(0%); }
	to { transform: translateX(-100%); }
}
@keyframes close_hamburger_right {
	from { transform: translateX(0%); }
	to { transform: translateX(100%); }
}
@keyframes to_visible {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes to_unvisible {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes bg_to_color {
	from { background: rgba($brand-color, 0); }
	to { background: rgba($brand-color, 0.87); }
}
@keyframes bg_to_transparent {
	from { background: rgba($brand-color, 0.87); }
	to { background: rgba($brand-color, 0); }
}