//----------------------------
//------------to close----
//----------------------------
@keyframes rotate_leftClose {
	from {	transform: none; }
	to { transform: rotate(45deg) translate(2px, 1px);}
}

@keyframes rotate_rightClose {
	from { transform: none; }
	to { transform: rotate(-45deg) translate(2px, 1px);}
}

@keyframes scale_centerClose {
	from { transform: none; }
	to { transform: scaleX(0.0002); }
}
//----------------------------
//------------to hamburger----
//----------------------------
@keyframes rotate_leftHamburger {
	from {	transform: rotate(45deg) translate(2px, 1px); }
	to { transform: none; }
}

@keyframes rotate_rightHamburger {
	from { transform: rotate(-45deg) translate(2px, 1px); }
	to { transform: none; }
}

@keyframes scale_centerHamburger {
	from { transform: scaleX(0.0002); }
	to { transform: scaleX(1.1); }
}
//----------------------------
//-----------blog tablet nav----
//----------------------------
@keyframes blog_tabletNavOpen {
	from { transform: translateX(-72%); }
	to { transform: translateX(0%); }
}
@keyframes blog_tabletNavClose {
	from { transform: translateX(0%); }
	to { transform: translateX(-100.5%); }
}