- var skillsDescText = 'Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.'

	.c-skills-card
		.c-skills-card__header
			+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
			h3.h-title-article Чем я могу быть вам полезен
			+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
		.c-skills-card__desc
			span= skillsDescText
		ul.c-skills-card__container