- var sectionName = 'c-header'
- var social = ['vk', 'github', 'in']
- var arrowId = 'arrow_down'

	+social(sectionName, social, '../assets/images/sprites/sprite.svg')
	+icon(bgHeaderSvgId, `svg_header`, '../assets/images/sprites/sprite.svg')
	.l-developer
		.c-developer
			.c-developer__img-wrap(style="background-image: url('../assets/images/content/photo.jpg'); background-repeat:no-repeat;")
				img.c-developer__img.visually-hidden(alt="", src=require('../assets/images/content/photo.jpg'))
			.c-developer__content
				h1.c-developer__header Volkova Yuliya
				h2.c-developer__desc Личный сайт WEB Разработчика
	a.c-next#next(href='#')
		+icon(arrowId, 'svg_next', '../assets/images/sprites/sprite.svg')