-
	var contacts = [{href: 'skype:yuliyawolf?add', linkText: 'skype_kdn', iconId: 'skype', iconCl: 'svg_skype'},
		{href: 'mailto:someone@example.com', linkText: 'astachov@gmail.com', iconId: 'mail', iconCl: 'svg_mail'},
		{href: 'tel:+7-800-000-392-10', linkText: '+7-800-000-392-10', iconId: 'phone', iconCl: 'svg_phone'},
		{href: "https://www.google.com/maps/search/?api=1&query=59.83428, 30.125099", linkText: 'г.Новосибирск, ул. Инская, д. 5', iconId: 'map_marker', iconCl: 'svg_map-marker'}]

.c-contacts
	.c-contacts__header
		+icon('dash', 'svg_dash', './assets/images/sprites/sprite.svg')
		h3.h-title-article Контакты
		+icon('dash', 'svg_dash', './assets/images/sprites/sprite.svg')
	.c-contacts__content
		ul.c-contacts__list
			each val in contacts
				li.c-contacts__row
					a.c-contacts__link(href=`${val.href}` target="_blank")
						+icon(`${val.iconId}`, `${val.iconCl}`, './assets/images/sprites/sprite.svg')
						span= val.linkText