.c-slider#worksSlider
	.c-slider__desc-fr(v-for="index in slides", v-if="index === activeSlide", :key="index")
		.c-slider__desc-header
			+icon('dash', 'svg_dash', './assets/images/sprites/sprite.svg')
			h3.h-title-article
				| {{dataArrActive[index-1].title}}
			+icon('dash', 'svg_dash', './assets/images/sprites/sprite.svg')
		.c-slider__desc-text
			span
				| {{dataArrActive[index-1].technologies}}
		a.c-button.c-slider__desc-link(href="https://webmanshake.ru/" target="_blank")
			+icon('link', 'svg_link', './assets/images/sprites/sprite.svg')
			span.c-button__text
				| Посмотреть сайт
	.c-slider__main-fr
		transition-group(class="main-frame", name='fade', tag='div')
			img.c-slider__main-img(alt="", v-for="ind in slides", v-show="ind===activeSlide", :key="ind", :src="dataArrActive[ind-1].url")
	.c-slider__control-fr
		.c-slider__control-prev
			transition-group(class="prev-move", :class="{'is-set': isSet, 'is-reversing': isReversingPrev}", tag="div")
				img.c-slider__control-img.img-prev(alt="", v-for="indx in dataArrPrev.length", :key="indx", :src="dataArrPrev[indx-1].url", :class="{'is-ref': indx === classIsRefPrev}")
			a.c-slider__control__link(href="#", @click="toPrev")
				+icon('portf_arrow_up', 'svg_slider-arrow', './assets/images/sprites/sprite.svg')
		.c-slider__control-next
			transition-group(class="next-move", :class="{'is-set': isSet, 'is-reversing': isReversingNext}", tag="div")
				img.c-slider__control-img.img-next(alt="", v-for="count in dataArrNext.length", :key="count", :src="dataArrNext[count-1].url", :class="{'is-ref': count === classIsRefNext}")
			a.c-slider__control__link(href="#", @click="toNext")
				+icon('portf_arrow_up', 'svg_slider-arrow', './assets/images/sprites/sprite.svg')